configuration {
    modi: "drun,run,window";
    show-icons: true;
    drun-display-format: "{name}";
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Windows";
    terminal: "kitty";
    font: "Inter 10";
    combi-modi: "window";
    }
@theme "gruvbox-dark-hard"
